body{
    color: white;
    background-color: black;
    background-size: cover;
    box-sizing: border-box;
    margin: 0%;
}
h1{
    text-align: center;
}
a:visited {
color: brown;
}
a:hover, a:active{
    color: blue;
}

table, tr, th, td, caption{
    border: 1px solid white;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}
a{
    text-decoration: none;
}
header{
    background: white;
    padding: 1rem 0;
    text-align: center;
}    
.span{
    color: black;
}
#drink{
    border-radius: 10%;
}